doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='UKGovHack is an annual event bringing together technologists and public sector enthusiasts.')
    meta(name='author', content= "Rebel Labs")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title UKGovHack 2017
    script(src="https://use.typekit.net/qhl2wtk.js")
    script. 
      try{Typekit.load({ async: true });}catch(e){}
    != css()

  body
    .top
      h1 UKGovHack is an annual event bringing together technologists and public sector enthusiasts. 
      h2 UKGovHack is a two day hackathon with a simultaneous conference stream for those wanting to gain more knowledge.
      h3 April 2017, London. 
      a(href="http://2016.ukgovhack.com", target="_blank") Check out last year's website.
    .updates
      h3 Subscribe for Rebel Labs updates
      form#mc-embedded-subscribe-form.validate(action='//rebeluncut.us12.list-manage.com/subscribe/post?u=e6f5b0f5a25d37d333f71a382&id=f92e514316', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        .input-group
            label(for="mce-FULLNAME") Full Name
            input(type="text", value="", name="FULLNAME", class="", id="mce-FULLNAME", placeholder="Bruce Wayne")
        .input-group
            label(for="mce-EMAIL") Email Address
            input(type="email", value="", name="EMAIL", class="", id="mce-EMAIL", placeholder="bruce@wayneenterprises.com")
        div(style='position: absolute; left: -5000px;', aria-hidden='true'): input(type='text', name='b_e6f5b0f5a25d37d333f71a382_f92e514316', tabindex='-1', value='')
        .input-group.button
          input#mc-embedded-subscribe(type='submit', value='Subscribe', name='subscribe')
    .labs
      p UKGovHack is a #[a(href="http://rebellabs.co.uk", target="_blank") Rebel Labs] event. Email #[a(href="mailto:hello@rebellabs.co.uk") hello@rebellabs.co.uk] if you have questions or want to enquire about sponsorship.
